.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


/*<div class="row">
  <div class="col-xs-3">*/
.form-group
{
    padding: 300px;
    padding-bottom: 0px;
    padding-top: 0px;   


}

h1

{
  text-align: center;

}
ide
{
padding: 300px;
    padding-bottom: 0px;
    padding-top: 0px; 
    background:#fe0;width:600px;
}


